*{
    margin: 0;
    font-family: "Tektur", sans-serif;
    color: #151515;    
}
p{
    font-weight: 400;
}
.header{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.headerpart1{
    display: flex;
    align-items: center;
    gap: 40px;
}
.imgsize{
    width: 70px;
}

.forp{
    color: #151515;
    font-weight: 400;
    font-size: 18px;
}
.button1{
    font-size: 17px;
    border: none;
    background-color: transparent;
    padding: 12px;
    text-align: center;
    width: 130px;
}
.input{
    font-size: 16px;
    border: none;
    background-color: transparent;
    padding: 12px;
    width: 230px;
}
.input1{
    font-size: 16px;
    border: none;
    background-color: transparent;
    padding: 12px;
    width: 230px;
    color: #FFFFFF;
}
.input::placeholder{
    font-size: 16px;
    color: #151515;
}
.button2{
    font-size: 17px;
    border: none;
    background-color: #151515;
    padding: 12px;
    text-align: center;
    width: 130px;
    color: #FFFFFF;
}
.button3{
    font-size: 16px;
    border: none;
    background-color: #151515;
    padding: 12px;
    text-align: center;
    width: 200px;
    color: #FFFFFF;
}
.button5{
    font-size: 16px;
    border: none;
    background-color: #FFFFFF;
    padding: 12px;
    text-align: center;
    width: 200px;
    color: #151515;
}
.buttons{
    display: flex;
    gap: 30px;
}
.size{
    width: 17px;
}

.main{
    width: 85%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 150px;
}
.section1{
    width: 100%;
    display: flex;
    gap: 35px;
    align-items: center;
}
.section2{
    display: flex;
    gap: 35px;
    align-items: center;
}
.section3{
    display: flex;
    gap: 35px;
    align-items: center;
}
.section4{
    display: flex;
    gap: 35px;
    flex-direction: column;
}
.section4-div1{
    display: flex;
    gap: 50px;
}
.section4-div1-part2{
    justify-items: right;
}
.section4-div2{
    display: flex;
    justify-content: space-between;
}
.size-1{
    width: 15px;
}
.size-11{
    width: 9px;
}
.longbox-mini-div{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #FFFFFF;
}
.mainp{
    font-size: 63px;
    font-weight: 400;
}
.longbox-div1{
    display: flex;
    gap: 20px;
}
.longboxp1{
    font-size: 20px;
    font-weight: 800;
}
.longboxp11{
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
}
.pwhite{
    color: #FFFFFF;
}
.longboxp3{
    font-size: 20px;
    font-weight: 800;
    align-self: self-end;
}
.longboxp13{
    font-size: 20px;
    font-weight: 800;
    align-self: self-end;
    color: #FFFFFF;
}
.longboxp2{
    font-size: 80px;
    font-weight: 800;
    align-self: center;
}
.longboxp12{
    font-size: 80px;
    font-weight: 800;
    align-self: center;
    color: #FFFFFF;
}
.button4{
    width: 100%;
    margin: auto;
    background-color: #151515;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    color: #FFFFFF;
}
.button41{
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    color: #151515;
}
.longbox{
    width: 27%;
    height: 700px;
    background-color: #F0F0F0;
    padding: 30px;
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section5{
    display: flex;
    gap: 10px;
    align-items: center;
}
.longbox1{
    width: 27%;
    height: 700px;
    background-color: #151515;
    padding: 30px;
    border: 3px solid grey;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.longboxx{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.limitedp{
    width: 78%;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 30px ;
    font-size: 18px;
}
.limitedp5{
    width: 65%;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 30px ;
    font-size: 18px;
}
.limitedp51{
    width: 90%;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 30px ;
    font-size: 18px;
}
.labels{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.labels1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #151515;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer{
    width: 100%;
    background-color: #151515;
    max-height: 1000px;
    margin-top: 100px;
    padding-bottom: 50px;
}
.footer-chapter{
    width: 85%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.footer-chapter1{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}
.chapter5p{
    font-size: 18px;
    font-weight: 800;
}
.limitedp2{
    width: 95%;
    margin-top: 20px;
    margin-bottom: 30px ;
    font-size: 17px;
    line-height: 25px;
}
.limitedp4{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 30px ;
    font-size: 17px;
    line-height: 25px;
}
.limitedp3{
    width: 75%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.limited{
    width: 80%;
}
.limited1{
    width: 25%;
}
.column{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.input-and-button{
    display: flex;
    border: 1px solid #151515;
    width: 450px;
    margin-top: 40px;
}
.flex1{
    display: flex;
    gap: 600px;
}
.input-and-button1{
    display: flex;
    border: 1px solid #FFFFFF;
    width: 400px;
}
.input1::placeholder{
    font-size: 16px;
    color: #FFFFFF;
    
}
.imgs{
    display: flex;
    gap: 40px;
    margin-top: 70px;
}
.hugep{
    font-size: 52px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
}
.hugep1{
    font-size: 52px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 86%;
}
.startingp{
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #151515;
    width: 100px;
    text-align: center;
    padding: 5px;
}
.chapter2p{
    display: flex;
    gap: 20px;
    align-items: center;
}
.psize{
    font-size: 18px;
    font-weight: 400;
}
.width50{
    width: 60px;
    height: 60px;
}
.flex{
    display: flex;
    gap: 70px;
}
.width30{
    width: 55px;
    border: 1px dashed grey;
}
.footer-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gap{
    display: flex;
    gap: 10px;
}
.footerp{
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.psize-white{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff8f;
    line-height: 40px;
}
.longbox-div1-1{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.psize1{
    font-size: 18px;
    font-weight: 400;
    word-spacing: 5px;
}
.psize11{
    font-size: 18px;
    font-weight: 400;
    word-spacing: 5px;
    color: #FFFFFF;
}
.chapter2div{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.p-section3{
    font-size: 28px;
}
.section3-div{
    display: flex;
    align-items: center;
    gap: 30px;
}
.none1{
    display: none;
}

@media (max-width: 510px) {
    .header{
        width: 95%;
    }
    .none{
        display: none;
    }
    .buttons{
        display: none;
    }
    .none1{
        display: inline;
    }
    .mobileversion{
        display: flex;
        justify-content: space-between;
    }
    .main{
        width: 95%;
    }
    .section1{
        width: 100%;
        flex-direction: column;
    }
    .section2{
        width: 100%;
        flex-direction: column-reverse;
    }
    .section3{
        width: 100%;
        flex-direction: column;
    }
    .section4{
        width: 100%;
        flex-direction: column;
    }
    .section5{
        width: 100%;
        flex-direction: column;
    }
    .mainp{
        font-size: 30px;
    }
    .footer{
        width: 100%;
        flex-direction: column;
        padding-bottom: 150px;
    }
    .input-and-button{
        width: 350px;
    }
    .input{
        width: 170px;
    }
    .button3{
        width: 160px;
    }
    .limitedp{
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }
    .limitedp3{
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }
    .width100{
        width: 100%;
    }
    .hugep{
        font-size: 32px;
    }
    .hugep1{
        font-size: 32px;
        width: 90%;
    }
    .limitedp2{
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }
    .limitedp4{
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }
    .startingp{
        font-size: 20px;
        font-weight: 800;
        border: 1px solid #151515;
        width: 130px;
        text-align: center;
        padding: 10px;
    }
    .limited{
        width: 100%;
    }
    .img1{
        width: 70px;
    }
    .p-section3{
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
    }
    .section3-div{
        align-items: start;
    }
    .width90{
        width: 90%;
    }
    .section4-div1{
        display: flex;
        flex-direction: column-reverse;
    }
    .section4-div1-part2{
        justify-items: left;
    }
    .section4-div2{
        flex-direction: column;
    }
    .longbox{
        width: 330px;
        padding: 15px;
    }
    .longbox1{
        width: 330px;
        padding: 15px;
    }
    .footer-chapter{
        width: 90%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .footer-chapter1{
        width: 90%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .input-and-button1{
        width: 350px;
    }
    .input1{
        width: 190px;
    }
    .button5{
        width: 160px;
    }
    .flex1{
        gap: 140px;
    }
    .footerp{
        font-size: 22px;
    }
    .flex{
        flex-direction: column;
        margin-top: 50px;
    }
    .limited1{
        width: 100%;
    }
    .psize-white{
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 40px;
    }
    .gap{
        margin-top: 80px;
    }
}